GOOGLE_APPLICATION_CREDENTIALS=keys/dwh-key.json
LINEAR_BQ_PROJECT=fanme-data-warehouse
LINEAR_BQ_DATASET=linear_dwh
LINEAR_CURRENT_TABLE=linear_project_issues_current
LINEAR_SNAPSHOT_TABLE=linear_project_issues_snapshot_hourly
BQ_LOCATION=asia-southeast1
